<!DOCTYPE html>
<html>
<head>
<title>Death Claim Process</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


<script src="app.js"></script> 
<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<link href="css/style.css" rel="stylesheet">
<link href="css/style-1.css" rel="stylesheet">
<script src="./js/notification.js"></script>


</head>

<body ng-app="myModule" ng-controller="myController">
<div class="container-fluid"> 

  <!-- loader icon -->
  <div id="cover-spin"></div>
	  
  <!-- Header Section starts here-->
  <header class="header_bg">
    <div class="header_left"></div>
    <div class="header_right"></div>
    <div class="container">
      <div class="logo_pharma"> <a href="index.html"><img src="images/logo.png" alt="logo"/></a> </div>
      <div class="banner_text_right"> Blockchain for Business<br>
        <b>WITH IBM BLOCKCHAIN</b> </div>
    </div>
  </header>
  <!-- Header Section ends here--> 
  
  <!-- Content Section ends here-->
  <div class="dashboard">
    <div class="dashboard_left" id="mainTab">
      <ul class="left_menu">
        <li><a href="#tabs-1" onclick="openCity(event, 'tabs-1')"  id="defaultOpen" class="tablinks">Hospital<span class="hospital">&nbsp;</span></a></li>
        <li><a href="#tabs-2"  onclick="openCity(event, 'tabs-2')" class="tablinks">Insurer<span class="insurer">&nbsp;</span></a></li>
        <li><a href="#tabs-3"   onclick="openCity(event, 'tabs-3')"class="tablinks" >Beneficiary<span class="benificery">&nbsp;</span></a></li>
        <li><a href="#tabs-4" onclick="openCity(event, 'tabs-4')" class="tablinks">Funeral Home<span class="funeral">&nbsp;</span></a></li>
        <li><a href="#tabs-5" onclick="openCity(event, 'tabs-5')" class="tablinks">Certification Provider<span class="certificate">&nbsp;</span></a></li>
      </ul>
    </div>

    <div class="dashboard_right tabcontent" id="tabs-1" >
      <h3>Death Event Recorded</h3>
    <form>  

      <div class="row">      	
       <div class="col-md-3">
	<label>Hospital</label>
          <input id="hospital" type="text" disabled  name="Apollo"  value="Apollo"  ></input>
        <label>Date of Death</label>
         <input type="date" ng-model="data.deathOfDeath" value=" " required="true">
       </div> 
     
       <div class="col-md-3">
        <label>Person Name</label>
          <input type="text" ng-model="data.personName"  value=" " required="true">
        <label>SSN</label>
          <input type="text" ng-model="data.SSNo"  value=" " required="true" placeholder="Ex  123-41-2345">
       </div>
      </div>
      <div class="col-md-6">
        <label>Address</label>
        <textarea ng-model="data.address" required="true"></textarea>
      </div>
      <div class="clearfix"></div>
      <div class="submit_block"></div>
      <input type="submit" value="SUBMIT" ng-click="postDeathRecord(data)"></input>
      <div class="clearfix"></div> 
    </form> 
   </div>	
 	
    <div class="dashboard_right tabcontent"  id="tabs-2" >
      <h3>Insurer( verify SSN and notify to beneficiary ) &nbsp; &nbsp; <a href="" class="fas fa-sync" ng-click="getAllPatientform()"></a></h3>
      <div class="col-md-12">
        <table>
          <tbody>
            <tr>
              <th>Person ID</th>
              <th>Person Name</th>
              <th>Address</th>
              <th>Date of Death</th>
              <th>SSN</th>
              <th>Hospital</th>
              <th>Beneficiary Notified</th>
              <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="paitentRecord in allPaitentRecord" ng-if="paitentRecord.Beneficiary_notified=='No' || paitentRecord.Cert_Provided=='Yes'">
              <td>{{paitentRecord.pid}}</td>
              <td>{{paitentRecord.pname}}</td>
              <td>{{paitentRecord.address}}</td>
              <td>{{paitentRecord.dod}}</td>
              <td>{{paitentRecord.SSN}}</td>
              <td>{{paitentRecord.Hospital}}</td>
              <td>{{paitentRecord.Beneficiary_notified}}<br><span ng-if="paitentRecord.Beneficiary_notified=='No'"  class="red">Insurer Not Verified</span></td>
              <td>  
              <div ng-if="paitentRecord.Beneficiary_notified=='No'"> 
			<!-- Button trigger modal -->
                    <input type="submit" value="Verify and Notify" data-toggle="modal" data-target="#exampleModalCenter{{paitentRecord.pid}}">

                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-lg" id="exampleModalCenter{{paitentRecord.pid}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Person Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
					                    	
			<table>
                            <tbody>
                                <tr>
                                    <th>Person ID</th>
                                    <th>Policy No.</th>
                                    <th>Beneficiary Name</th>
                                </tr>
                                <tr>
                                    <th>{{paitentRecord.pid}}</th>
                                    <th>
                                        <input type="text" class="col-md-6"  ng-model="paitentRecord.policyNo"  value="" required="true">
                                    </th>
                                    <th>
                                        <select  name="Beneficiary Name" ng-model="paitentRecord.beneficiaryName">
                                            <option selected value="1548678580199">same</option>
                                        </select>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
	
                                </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <input type="submit" value="SUBMIT" ng-click="VerifyandNotifyBeneficiary(paitentRecord)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
		</div>
		
		<div ng-if="paitentRecord.Cert_Provided=='Yes'">
		   
		   <input type="submit" value="Claim granted" ng-click="claiminitiation(paitentRecord)">
		  
		</div>
	      </td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>
     


    <div class="dashboard_right tabcontent"  id="tabs-3" >
      <h3>Beneficiary ( Select funeral home ) &nbsp; &nbsp; <a href="" ng-click="getAllPatientform()"  class="fas fa-sync"></a></h3>
      <div class="col-md-12">
        <table>
          <tbody>
            <tr>
              <th>Person ID</th>
              <th>Person Name</th>
              <th>Address</th>
              <th>Date of Death</th>
              <th>SSN</th>
              <th>Policy Number</th>
              <th>Beneficiary Notified</th>
              <th>Funeral Home</th>
              <th>Hospital</th>
              <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="paitentRecord in allPaitentRecord" ng-if="paitentRecord.Beneficiary_notified=='Yes'">
       		<td>{{paitentRecord.pid}}</td>
                <td>{{paitentRecord.pname}}</td>
                <td>{{paitentRecord.address}}</td>
                <td>{{paitentRecord.dod}}</td>
                <td>{{paitentRecord.SSN}}</td>
                <td>{{paitentRecord.Policyno}}</td>
                <td>{{paitentRecord.Beneficiary_notified}}<br><span class="green">Notified</span></td>
                <td><select  name="Funeral Homes" ng-model="paitentRecord.funeralHome">
                        <option value="1548678755075">Star</option>
                    </select>
                </td>
                <td>{{paitentRecord.Hospital}}</td>
                <td>
                     <input type="submit" value="Update" ng-click="Beneficiaryupdate(paitentRecord)">     
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="dashboard_right tabcontent"  id="tabs-4" >
      <h3>Funeral Home ( verify & request for death certificate ) &nbsp; &nbsp; <a  href="" ng-click="getAllPatientform()" class="fas fa-sync"></a></h3>

      <div class="col-md-12">
        <table>
          <tbody>
            <tr>
              <th>Person ID</th>
              <th>Person Name</th>
              <th>Address</th>
              <th>Date of Death</th>
              <th>SSN</th>
              <th>Policy Number</th>
              <th>Beneficiary Name</th>
              <th>Isurer Verified</th>
              <th>Funeral Home</th>
              <th>Hospital</th>
              <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="paitentRecord in allPaitentRecord" ng-if="paitentRecord.Beneficiary_notified=='Yes' && paitentRecord.InsurerVerified=='Yes' && paitentRecord.Funeralhome_notified=='Yes'">
		<td>{{paitentRecord.pid}}</td>
                <td>{{paitentRecord.pname}}</td>
                <td>{{paitentRecord.address}}</td>
                <td>{{paitentRecord.dod}}</td>
                <td>{{paitentRecord.SSN}}</td>
                <td>{{paitentRecord.Policyno}}</td>
                <td>{{paitentRecord.Beneficiary_name<br><span class="green">Notified</span></td>
                <td>{{paitentRecord.InsurerVerified}}</td>
                <td>{{paitentRecord.funeralhome}}</td>
                <td>{{paitentRecord.Hospital}}</td>
                <td>
		     <input type="submit" value="Update" ng-click="requestcert(paitentRecord)">
		</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="dashboard_right tabcontent"  id="tabs-5" >
      <h3>Certification Provider &nbsp; &nbsp; <a href="" ng-click="getAllPatientform()" class="fas fa-sync"></a></h3>
      <div class="col-md-12">
        <table>
          <tbody>
            <tr>
              <th>Person ID</th>
              <th>Person Name</th>
              <th>Address</th>
              <th>Date of Death</th>
              <th>SSN</th>
              <th>Policy Number</th>
              <th>Beneficiary Name</th>
              <th>Claim Status</th>
              <th>Funeral Home</th>
              <th>Hospital</th>
              <th>&nbsp;</th>
            </tr>
	     <tr ng-repeat="paitentRecord in allPaitentRecord" ng-if="paitentRecord.Beneficiary_notified=='Yes' && paitentRecord.InsurerVerified=='Yes' && paitentRecord.Funeralhome_notified=='Yes' && paitentRecord.Cert_Requested=='Yes'">
                <td>{{paitentRecord.pid}}</td>
                <td>{{paitentRecord.pname}}</td>
                <td>{{paitentRecord.address}}</td>
                <td>{{paitentRecord.dod}}</td>
                <td>{{paitentRecord.SSN}}</td>
                <td>{{paitentRecord.Policyno}}</td>
                <td>{{paitentRecord.Beneficiary_name<br><span class="green">Notified</span></td>
                <td>{{paitentRecord.InsurerVerified}}</td>
                <td>{{paitentRecord.funeralhome}}</td>
                <td>{{paitentRecord.Hospital}}</td>
                <td>
                     <input type="submit" value="Update" ng-click="providecert(paitentRecord)">
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>
  <!-- Content Section ends here--> 
  
  <!-- Footer Section starts here-->
  <footer class="footer">©  copyright 2018</footer>
  <!-- Footer Section ends here--> 
</div>
<script>

// var acc = document.getElementsByClassName("tablinks");
// var i;
// for (i = 0; i < acc.length; i++) {
//   acc[i].addEventListener("click", function() {
//     this.classList.toggle("active");
//     var panel = this.nextElementSibling;
//     if (panel.style.maxHeight){
//       panel.style.maxHeight = null;
//     } else {
//       panel.style.maxHeight = panel.scrollHeight + "px";
//     } 
//   });
// }

 function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  tablinks = document.getElementsByClassName("tablinks");

  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace("active", "");
    tablinks[i].className = tablinks[i].className.replace("selected", "");
    tablinks[i].className = tablinks[i].className.replace("selected", "");
    $(".grn").remove();
  }

  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
  evt.currentTarget.className += " selected";
  $(evt.currentTarget).append('<span class="grn"> &nbsp; </span>');
}

document.getElementById("defaultOpen").click();

</script>
</body>
</html>

